.top-section {
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.top-section .avatar {
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.mid-section {
    flex-grow: 1;
    padding: 10px 3px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-image: url("/Images/chatPg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.blank-space{
    background-color: #1976d2;
    flex: 1;
    padding: 10px 3px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@keyframes fadeSlideLoop {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
.animated-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    animation: fadeSlideLoop 2.5s ease-in-out infinite;
}
.message {
    padding: 8px 12px;
    border-radius: 16px;
    max-width: 70%;
    pointer-events: none;
}
.me {
    align-self: flex-end;
    background-color: #daf1da;
}
.friend {
    align-self: flex-start;
    background-color: #f1f1f1;
}
.bot {
    align-self: flex-start;
    background-color: #222;
    color: #0f0;
    padding: 8px 12px;
    border-radius: 8px;
    margin: 4px 0;
    max-width: 60%;
    font-style: italic;
  }
.bottom-section{
    background-color: antiquewhite;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    gap: 2px;
}
.bottom-section input{
  flex: 1;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}
.bottom-section button{
  padding: 8px 16px;
  border: none;
  background-color: #1976d2;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}