li{
    position: relative;
}
.link-btn{
    background-color: transparent;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    transition: 0.5s ease-in-out;
}
.text{
    position: absolute;
    bottom: -30px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
    opacity: 0;
}
.link-btn:hover .text,
.link-btn:focus .text{
    transform: translateY(-30px);
    opacity: 1;
}
.link-btn:hover .icon,
.link-btn:focus .icon{
    transform: translateY(-20px);
}
.request-box{
    background-color: black;
    color: #fff;
    width:250px;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 100%;
}
.request-item{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.request-item .font-asm{
    background-color: aliceblue;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}
.font-asm:hover{
    background-color: black;
    color: white;
}
.empty-text {
    color: #888;
    font-size: 13px;
    text-align: center;
}